!!! HTML
%html
  %head
    %title= "AlbertTemplate"
    %meta{ name: "viewport", content: "width=device-width", chaset: "UTF-8", "initial-scale" => "1" }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body
    = yield
